@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* height: 500px; */
  display: grid;
  place-items: center;
  overflow-y: hidden;
  user-select: none;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 10px;
}
.container button {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border: 1px solid;
  margin: 1rem;
  display: flex;
  place-items: center;
  outline: none;
  cursor: pointer;
}

.cross {
  background-image: url("./cross.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
.rec {
  background-image: url("./rec.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
.winner {
  display: inline-block;
  width: 70px;
  height: 70px;
}
.reset {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  color: gray;
  margin-bottom: 2rem;
  cursor: pointer;
}
.won {
  font-size: 1.5rem;
}